/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Bleu ciel */
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #ffc107; /* Couleur de survol */
}

.welcome-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-section h2 {
    color: #3498db; /* Bleu foncé */
}

.welcome-section p {
    color: #555;
    line-height: 1.6;
}


/* styles.css */
.addToCartButton {
    margin-right: 10px; /* Ajustez la marge selon vos préférences */
}

/* styles.css */
.addToCartButton {
    padding: 10px 20px; /* Ajustez les valeurs selon vos préférences */
    background-color: lightgreen; /* Couleur de fond verte clair */
    color: white; /* Couleur du texte en blanc */
}

/* styles.css */
.addToCartButton {
    padding: 5px 5px; /* Ajustez les valeurs selon vos préférences */
    background-color: rgb(77, 237, 77); /* Couleur de fond verte clair */
    color: rgb(15, 14, 14); /* Couleur du texte en blanc */
    min-height: 20px; /* Hauteur minimale du bouton */
    display: inline-block; /* Aligner les boutons sur la même ligne */
    margin-right: 10px; /* Marge à droite pour espacement entre les boutons (ajustez selon vos préférences) */
}

/* checkout-styles.css */
/* Ajoutez des styles spécifiques à votre page de finalisation de commande */

/* Style pour le bouton Procéder au paiement */
#paymentForm button {
    background-color: lightgreen;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#paymentForm button:hover {
    background-color: darkgreen;
}

/* Dans styles.css */
#addToCartModal button {
    background-color: lightgreen;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addToCartModal button:hover {
    background-color: darkgreen;
}
