/*******************************************************/
/************** CSS COMMON TO ALL PAGES ***************/
/*****************************************************/
body {
    padding-top: 70px; /* Adjust this value based on the actual height of your navbar */
    background-image: url('imagebackground.png');
    background-position: top;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #fff;  
}

.navbar-collapse {
    flex-grow: 1;
    justify-content: center;
}

.navbar-nav {
    justify-content: center;
    width: 100%;
}

.nav-item {
    margin: 0 10px;
}

/* Logo Styles */
.navbar-brand .logo {
    height: 50px;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

/* Text Styles */
.site-text-style {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
}

/* Welcome Section */
.welcome-section {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

/* Content Container */
.content-container {
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}
/* icone rouge du Panier*/
.cart-icon {
    background-color: red;
    color: white;
    border-radius: 50%; /* Rend l'icône circulaire */
    padding: 2px 8px; /* Ajustez selon la taille désirée */
    font-size: 14px; /* Ajustez selon la taille désirée */
    position: relative;
    top: -10px; /* Ajustez pour aligner verticalement */
    right: -10px; /* Ajustez pour aligner horizontalement */
    display: inline-block;
}
/*******************************************************/
/************** FIN . CSS COMMON TO ALL PAGES ***************/
/*****************************************************/

/* Login Container Styles */
.login-container {
    background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    margin-top: 100px; /* Adjust as needed */
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
/* Style for the logout button container */
.logout-container {
    position: fixed;
    bottom: 20px; /* Adjust position from the bottom */
    left: 50%;
    transform: translateX(-50%);
}

/* Styles spécifiques pour le bouton de connexion personnalisé */
.custom-login-btn {
    background-color: #5a6d71; 
    border-color: #000000; /* Bordure plus foncée pour le bouton */
}

    .custom-login-btn:hover {
        background-color: #1b3134; 
        border-color: #000000; /* Bordure au survol */
    }
