/* Supprimer la marge par défaut du corps */
body {
    background-image: url('imagebackground.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
    background-color: black; /* Remplit l'espace vide avec une couleur de fond noire */
    margin: 0; /* Supprime la marge par défaut du corps */
    padding: 0; /* Supprime le padding par défaut du corps */
}

/* Style commun pour le texte du site */
.site-text-style {
    font-family: 'Arial', sans-serif; /* La police que vous voulez utiliser */
    font-size: 16px; /* La taille de la police */
    color: #333; /* La couleur du texte */
    /* Ajoutez d'autres propriétés de style si nécessaire */
}

/* Styles pour le logo */
.navbar-brand .logo {
    height: 50px; /* ou toute autre taille appropriée */
    /* Autres styles personnalisés pour le logo si nécessaire */
}

/* Responsive Navbar */
@media (max-width: 992px) {
    .navbar-nav {
        justify-content: center;
    }
}

.welcome-section {
    padding-top: 100px; /* Ajustez cette valeur pour décaler vers le bas */
    display: flex;
    justify-content: center;
}

.content-container {
    background-color: white; /* Fond blanc */
    border-radius: 15px; /* Extrémités arrondies */
    padding: 40px; /* Espacement intérieur */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre subtile */
    max-width: 800px; /* Largeur maximale du cadre */
}
