
/*******************************************************/
/************** CSS COMMON TO ALL PAGES ***************/
/*****************************************************/
body {
    padding-top: 70px; /* Adjust this value based on the actual height of your navbar */
    background-image: url('imagebackground.png');
    background-position: top;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; /* High z-index to ensure it stays on top of other content */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #fff; /* Ensure navbar background is not transparent */
}

.navbar-collapse {
    flex-grow: 1;
    justify-content: center;
}

.navbar-nav {
    justify-content: center;
    width: 100%;
}

.nav-item {
    margin: 0 10px;
}

/* Logo Styles */
.navbar-brand .logo {
    height: 50px;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

/* Text Styles */
.site-text-style {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
}

/* Welcome Section */
.welcome-section {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

/* Content Container */
.content-container {
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}
/* icone rouge du Panier*/
.cart-icon {
    background-color: red;
    color: white;
    border-radius: 50%; /* Rend l'icône circulaire */
    padding: 2px 8px; /* Ajustez selon la taille désirée */
    font-size: 14px; /* Ajustez selon la taille désirée */
    position: relative;
    top: -10px; /* Ajustez pour aligner verticalement */
    right: -10px; /* Ajustez pour aligner horizontalement */
    display: inline-block;
}
/*******************************************************/
/************** FIN . CSS COMMON TO ALL PAGES ***************/
/*****************************************************/














body {
    margin-top: 100px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
    color: white; /* Couleur du texte en blanc */
    text-align: center; /* Centrer tout le texte */
}
h2 {
    color: #757171; /* Couleur de gris lisible */
}
button {
    background-color: green; /* Bouton de couleur verte */
    color: white; /* Couleur du texte en blanc */
    padding: 10px 20px; /* Espacement intérieur du bouton */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Arrondir les coins */
    cursor: pointer; /* Afficher le curseur de la souris */
    margin-top: 20px; /* Marge supérieure pour le bouton */
}
